<div class="container">
  <div class="row">
    <div class="col-md-8 center-block" style="float: none;">
      <div class="jumbotron">
              <h1>The Loo Project</h1>
              <p class="lead"><u>The Loo Project - which helps you find clean loo around you by creating digital public toilet map. It Includes public toilets and shops, cafes, institutions which can let anyone use their facilities.</u> The Information is gathered by Municipal Corporations, Village Councils, Open Government Data, Partner organizations, and citizens. </p>
              <p class="lead">Mapping of data is just the beginning and there are many amazing things can be done once we have that data. 'Design Your Loo' initiative to bring people together to build affordable toilets and coming up with actionable data insights to build solutions for public toilets and sanitation.</p>
              <p class="lead">At <a href="http://eChai.in" target="_BLANK">eChai</a>, with Sweetly we are solving one challenging problem in Dangs Forest in a small way. And after Sweetly - once again we are super excited to work on The Loo Project which we believe will bring a great social impact some day.</p>
              <br>
              <div>For more information contact <br><br>Jatin Chaudhary, Co-Founder, eChai Ventures, <br><a href="mailto:jatin@eChai.in">jatin@eChai.in</a>, +91 87338 38470 <br><br> Kunal Chaudhary, Co-Founder, eChai Ventures,<br> <a href="mailto:kunal@eChai.in">kunal@eChai.in</a>, +91 99137 19765.</div>
        
            </div>  
      </div>
      
    </div>
  </div>
