<div class="jumbotron text-left">
  <h3>Contact</h3>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <address>
        <strong>eChai Ventures</strong><br>
        IdeaPad, CIIE Building,<br>
        IIM New Campus, Vastrapur<br>
        Ahmedabad, 380015        
      </address>
    </div>
  </div>
</div>
