<div class="panel panel-default">
  <div class="panel-heading">
    <h1 style="margin: 0;">Editing City Maker</h1>
  </div>
  <div class="panel-body" style="padding-left: 50px;">
    <br />
    <%= render 'form' %>

    <%= link_to 'Show', @city_maker %> |
    <%= link_to 'Back', city_makers_path %>
  </div>
</div>
